#button-bar                                                                                                                           
  #newgame
    %input{:type => :button,  :value => "New game", :id => :new_game}
          
