-#title
  HangMan



#options 
  =render :partial => "button_bar"
#hangman_ui
  =render :partial => "body_parts"
#current_word
  =render :partial => "phrase"
#guesses
  =render :partial => "guesses"
#status
